<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>13 Runs</title>
</head>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117498114-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117498114-1');
  </script>
<body>
  <div class="container">
    <h3>First to 13 runs wins!</h3>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Team</th>
            <th>Runs</th>
            <th>Runs Left</th>
          </tr>
        </thead>
        <tbody>
          {{#each teams}}
          <tr>
            <td>{{this.market}} {{this.name}}</td>
            <td>{{sortArray this.runs}}</td>
            <td>{{scoresLeft this.runs.length}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</body>
</html>